@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Variáveis de CSS */
:root {
  /* Cores de texto */
  --titulo-texto-cor: #ffffff;
  --paragrafo-texto-cor: #f9f9f9;
  --rodape-texto-cor: #c0c0c0;

  /* Cores de fundo e âncora */
  --cor-de-fundo: #00030c;
  --cor-ancora-a: #167bf7;
  --cor-ancora-hover-a: rgba(61, 143, 243, 0.6);
  --cor-ancora-hover-b: rgba(4, 8, 20, 0.5);

  /* Fonte */
  --fonte-principal: 'Inter', sans-serif;

  /* Espessuras */
  --espessura-paragrafo: 400;
  --espessura-titulos: 700;
}

html,
body {
  width: 100%; /* Ajusta a largura para 100% */
  height: 100%;
  box-sizing: border-box; /* Ajusta o box-sizing para incluir padding e bordas */
}

.aluraplus {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: var(--fonte-principal);
  font-weight: var(--espessura-paragrafo);
  background-color: var(--cor-de-fundo);
}

.aluraplus__assinatura {
  background: url('/assets/Background.png') no-repeat; /* Centraliza a imagem */
  background-size: cover; /* Faz a imagem cobrir todo o elemento */
}

.aluraplus__assinatura__content {
  width: 36rem;
  padding: 2%;
  margin: 2%;
  text-align: center;
}

.assinatura__titulo {
  color: var(--titulo-texto-cor);
  font-size: 2rem;
  font-weight: var(--espessura-titulos);
  text-align: center;
}

.assinatura__img {
  width: 22rem;
  padding: 2rem 0 3.5rem 0;
}

.assinatura__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 32rem;
  margin: auto;
  font-size: 1.5rem;
}

.assinatura__ancora-a,
.assinatura__ancora-b {
  border-radius: 0.5rem;
  padding: 1.25rem;
  color: var(--titulo-texto-cor);
  text-decoration: none;
}

.assinatura__ancora-a:hover {
  background-color: var(--cor-ancora-hover-a);
}

.assinatura__ancora-b:hover {
  background-color: var(--cor-ancora-hover-b);
}

.assinatura__ancora-a {
  background-color: var(--cor-ancora-a);
}

.assinatura__ancora-b {
  border: 1px solid var(--titulo-texto-cor);
}

.assinatura__paragrafo {
  font-size: 0.75rem;
  color: var(--rodape-texto-cor);
}

.aluraplus__informacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  contain: content;
  color: var(--titulo-texto-cor);
}

.informacao__plataforma,
.informacao__telas,
.informacao__notebook {
  display: flex;
  align-items: center;
  gap: 10%;
  padding: 5rem;
}

.informacao__titulo {
  font-size: 3rem;
  font-weight: var(--espessura-titulos);
}

.informacao__paragrafo {
  font-size: 1.5rem;
  font-weight: var(--espessura-paragrafo);
  max-width: 56rem;
  width: 100%;
  margin: 1rem 0;
  padding-bottom: 1.25rem;
  color: var(--paragrafo-texto-cor);
}

.informacao__img {
  width: 50%;
}

.informacao__ancora {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 1rem;
  color: var(--titulo-texto-cor);
  text-decoration: none;
  background-color: var(--cor-ancora-a);
}

.informacao__ancora:hover {
  background-color: var(--cor-ancora-hover-a);
}

.informacao__dispositivos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 100%;
}

.informacao__dispositivos__icones {
  display: flex;
  text-align: center;
  justify-content: center; /* Centraliza os ícones dentro do container */
  padding-top: 4rem;
  box-sizing: border-box;
  gap: 2%;
}

.dispositivos__subtitulo {
  font-size: 2rem;
  font-weight: var(--espessura-titulos);
}

.rodape {
  background-color: #00030c;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  color: var(--rodape-texto-cor);
  font-family: var(--fonte-principal);
  font-size: 0.875rem;
  padding: 2rem;
}

.rodape__lista {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ajusta a largura para 100% */
  max-width: 75rem;
  padding-top: 2rem;
  text-align: center;
}

.rodape__lista__item {
  color: var(--rodape-texto-cor);
  text-decoration: none;
}

.rodape__paragrafo {
  text-align: center;

  max-width: 75rem;
  line-height: 150%;
}

@media (max-width: 767px) {
  .aluraplus__assinatura {
    background-size: cover;
  }
  .aluraplus__assinatura__content {
    width: 80%; /* Aumenta a largura para ocupar mais espaço em telas menores */
    padding: 2%; /* Reduz o padding para evitar excesso de espaço */
  }

  .assinatura__titulo {
    font-size: 1rem; /* Reduz o tamanho da fonte para melhor ajuste */
  }

  .assinatura__img {
    width: 50%; /* Aumenta a largura da imagem para ocupar mais espaço */
    padding: 1rem 0; /* Reduz o padding superior e inferior */
  }

  .assinatura__info {
    justify-content: center;
    width: 80%; /* Aumenta a largura para melhor ajuste */
    gap: 0.5rem;
  }

  .assinatura__ancora-a,
  .assinatura__ancora-b {
    font-size: 0.75rem; /* Reduz o tamanho da fonte dos botões */
    padding: 0.5rem; /* Ajusta o padding para não ficarem muito grandes */
  }

  .assinatura__paragrafo {
    font-size: 0.6rem; /* Reduz o tamanho da fonte do parágrafo */
  }

  .informacao__plataforma,
  .informacao__telas,
  .informacao__notebook {
    flex-direction: column;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    margin: 5%;
    width: 80%;
  }

  .informacao__telas {
    flex-direction: column-reverse;
  }

  .informacao__titulo {
    font-size: 1.5rem; /* Reduz o tamanho da fonte do título */
  }

  .informacao__paragrafo {
    font-size: 1rem; /* Ajusta o tamanho da fonte do parágrafo */
    padding: auto;
  }

  .informacao__img {
    margin-top: 5%;
    width: 65%; /* Ajusta a largura da imagem */
  }

  .informacao__ancora {
    font-size: 1rem;
  }

  .informacao__dispositivos {
    box-sizing: border-box;
    padding: 2%;
  }

  .informacao__dispositivos__icones {
    padding-top: 1rem; /* Ajusta o padding superior */
  }

  .dispositivos__icones {
    width: 100%; /* Tamanho padrão dos ícones */
    height: auto; /* Mantém a proporção da imagem */
  }

  .dispositivos__subtitulo {
    font-size: 0.75rem;
    font-weight: var(--espessura-titulos);
  }

  .rodape {
    padding: 1.5rem; /* Ajusta o padding */
    gap: 0.5rem;
  }

  .rodape__lista {
    flex-direction: column;
    align-items: center; /* Centraliza os itens */
    padding-top: 1rem; /* Ajusta o padding superior */
    gap: 1rem;
    padding-bottom: 1.5rem;
  }

  .rodape__lista__item {
    font-size: 0.75rem; /* Reduz o tamanho da fonte do rodapé */
  }

  .rodape__paragrafo {
    font-size: 0.65rem; /* Reduz o tamanho da fonte do parágrafo do rodapé */
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .aluraplus__assinatura {
    background-size: cover;
  }
  .aluraplus__assinatura__content {
    width: 55%; /* Aumenta a largura para ocupar mais espaço em telas menores */
    padding: 5%; /* Reduz o padding para evitar excesso de espaço */
  }

  .assinatura__titulo {
    font-size: 1.5rem; /* Reduz o tamanho da fonte para melhor ajuste */
  }

  .assinatura__img {
    width: 60%; /* Aumenta a largura da imagem para ocupar mais espaço */
    padding: 1rem 0; /* Reduz o padding superior e inferior */
  }

  .assinatura__info {
    width: 80%; /* Aumenta a largura para melhor ajuste */
  }

  .assinatura__ancora-a,
  .assinatura__ancora-b {
    font-size: 1rem; /* Reduz o tamanho da fonte dos botões */
    padding: 0.8rem; /* Ajusta o padding para não ficarem muito grandes */
  }

  .assinatura__paragrafo {
    font-size: 0.7rem; /* Reduz o tamanho da fonte do parágrafo */
  }

  .informacao__plataforma,
  .informacao__telas,
  .informacao__notebook {
    gap: 2rem; /* Reduz o espaço entre os itens */
    padding: 2rem; /* Reduz o padding para evitar excesso de espaço */
  }

  .informacao__titulo {
    font-size: 2rem; /* Reduz o tamanho da fonte do título */
  }

  .informacao__paragrafo {
    font-size: 1rem; /* Ajusta o tamanho da fonte do parágrafo */
    padding-bottom: 1rem; /* Ajusta o padding inferior */
  }

  .informacao__img {
    width: 40%; /* Ajusta a largura da imagem */
  }

  .informacao__ancora {
    font-size: 1rem; /* Reduz o tamanho da fonte dos botões */
    padding: 0.8rem; /* Ajusta o padding */
  }

  .informacao__dispositivos {
    box-sizing: border-box;
    padding: 5%;
  }

  .informacao__dispositivos__icones {
    padding-top: 2rem; /* Ajusta o padding superior */
  }

  .dispositivos__icones {
    width: 80%; /* Tamanho padrão dos ícones */
    height: auto; /* Mantém a proporção da imagem */
  }

  .dispositivos__subtitulo {
    font-size: 1.5rem;
    font-weight: var(--espessura-titulos);
  }

  .rodape {
    font-size: 0.75rem; /* Reduz o tamanho da fonte do rodapé */
    padding: 1.5rem; /* Ajusta o padding */
    gap: 0.75rem;
  }

  .rodape__lista {
    align-items: center; /* Centraliza os itens */
    padding-top: 1rem; /* Ajusta o padding superior */
    text-align: center;
    gap: 2%;
  }

  .rodape__lista__item {
    font-size: 0.75rem; /* Reduz o tamanho da fonte dos itens do rodapé */
  }

  .rodape__paragrafo {
    font-size: 0.7rem; /* Reduz o tamanho da fonte do parágrafo do rodapé */
  }
}

@media (min-width: 1640px) {
  .aluraplus__assinatura__content {
    width: 50%; /* Diminuído para ajustar a largura */
    padding: 4% 4%; /* Ajustado o padding */
  }

  .assinatura__titulo {
    font-size: 2.5rem; /* Diminuído para ajuste */
  }

  .assinatura__img {
    width: 45%; /* Diminuído para ajuste */
    padding: 1.5rem 0 3rem 0; /* Ajustado o padding */
  }

  .assinatura__info {
    width: 75%; /* Ajustado para ocupar 75% da largura */
  }

  .assinatura__ancora-a,
  .assinatura__ancora-b {
    font-size: 1.4rem; /* Diminuído para ajuste */
    padding: 1.3rem; /* Ajustado o padding */
  }

  .assinatura__paragrafo {
    font-size: 1.3rem; /* Diminuído para ajuste */
  }

  .informacao__titulo {
    font-size: 4rem; /* Diminuído para ajuste */
  }

  .informacao__paragrafo {
    font-size: 2.25rem; /* Diminuído para ajuste */
  }

  .informacao__ancora {
    font-size: 1.8rem; /* Diminuído para ajuste */
    padding: 1.5rem; /* Ajustado o padding */
  }

  .informacao__dispositivos {
    padding: 5%;
  }

  .dispositivos__subtitulo {
    font-size: 2.5rem; /* Diminuído para ajuste */
  }

  .rodape {
    font-size: 1.3rem; /* Diminuído para ajuste */
  }

  .rodape__logo {
    width: 8%; /* Diminuído para ajuste */
  }

  .rodape__paragrafo {
    font-size: 1.1rem; /* Diminuído para ajuste */
  }
}

@media (min-width: 2000px) {
  .aluraplus__assinatura__content {
    width: 40%; /* Diminuído para se adequar a telas grandes */
    padding: 4% 4%; /* Ajustado o padding */
  }

  .assinatura__titulo {
    font-size: 2.8rem; /* Levemente diminuído para ajuste */
  }

  .assinatura__img {
    width: 45%; /* Diminuído para ajuste */
    padding: 1.5rem 0 3rem 0; /* Ajustado o padding */
  }

  .assinatura__info {
    width: 85%; /* Ajustado para se adequar à largura */
  }

  .assinatura__ancora-a,
  .assinatura__ancora-b {
    font-size: 1.4rem; /* Diminuído para ajuste */
    padding: 1.2rem; /* Ajustado o padding */
  }

  .assinatura__paragrafo {
    font-size: 1.3rem; /* Diminuído para ajuste */
  }

  .informacao__titulo {
    font-size: 4.5rem; /* Diminuído para ajuste */
  }

  .informacao__paragrafo {
    font-size: 2.5rem; /* Diminuído para ajuste */
    padding-bottom: 5%;
  }

  .informacao__img {
    width: 50%;
  }

  .informacao__ancora {
    font-size: 1.8rem; /* Diminuído para ajuste */
    padding: 1.5rem; /* Ajustado o padding */
  }

  .informacao__dispositivos {
    padding: 5%;
  }

  .dispositivos__subtitulo {
    font-size: 2.8rem; /* Diminuído para ajuste */
  }

  .rodape {
    font-size: 1.3rem; /* Diminuído para ajuste */
  }

  .rodape__logo {
    width: 9%; /* Diminuído para ajuste */
  }

  .rodape__paragrafo {
    font-size: 1.15rem; /* Diminuído para ajuste */
  }
}
